header{
    position: relative;
}

header img:nth-last-child(){
    top: 0;
}

h1{
    text-align: center;
    margin: 0;
    
}

.banner{
    height: 100vh;
    background-image: url("imgBG.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
box-shadow: inset 0px -120px 126.5px #00879E;

}


.menu{
    position: absolute;
    top: 0;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu img{
    width: 170px;
}

.menu a{
    font-size: 30px;
    background-color: #FFAB5B;
    padding: 5px 15px;
    border-radius: 15px;
    color: #FFF2DB;

}

.big_container{
    background-color: #00879E;
}

.name{
    color: #FFF2DB;
    font-size: 40px;
    background-color: rgba(255, 170, 91, 0.678);
    height: fit-content;
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;

}

.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.text_h1, .text_p{
    text-align: left;
    padding: 15px;
}

.text_h1{
    font-size: 35px;
}

.text_p{
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #192BC3;
}

.link{
    display: flex;
    flex-direction: column;
}

.items{
    color: #8D8D8D;
}



.price_cnt{
    display: flex;
    align-items: center;
    gap: 30px;
}

.price_cnt button{
    font-size: 30px;
    padding: 7px 20px;
    background-color: #003092;
    border-radius: 10px;
    color: #FFF2DB;
    cursor: pointer;
}

.item_container{
    display: flex;
    justify-content: space-between;
}

main {
    background-color: #00879E;
}

.korm{
    color:#FFF2DB;
    font-size: 70px;
    padding: 70px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFAB5B;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    font-size: 30px;
}

.item2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFAB5B;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    font-size: 30px;
}


.item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFAB5B;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    font-size: 30px;
}

.weather {
    color:#FFF2DB;
    font-size: 70px;
    padding: 70px;
}

p{
    color: white;
    text-align: center;
}

.action{
    text-decoration: line-through;
    color: red;
    font-size: 20px;
}

.item_container2{
    display: flex;
    justify-content: space-between;
}

.weather{
    text-align: center;
}

.item_container3{
    display: flex;
    justify-content: space-between;
}

.toys {
    color: #FFF2DB;
    font-size: 70px;
    padding: 70px;
}

.background_2{
    background: url(imgBACKGROUND.png);
    height: 1984px;
}

.background_2 img{
    width: 270px;
}

.action p{
    font-size: 40px;
    color: #000000;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #222831;
    color: white;
}

footer p{
    font-size: 30px;
}

.yourComent{
    width: 1240px;
    border-radius: 5px;
}

.user_photo_name{
    display: flex;
}

button:hover{
    background-color: #063BA8;
    padding: 9px 22px;
}


.menu a:hover{
    background-color: #FF9837;
    padding: 7px 16px;
}

.program{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.comments{
    background-color: #196A78;;
}

.error{
    color: #FFF2DB;
    font-size: 70px;
    padding: 70px;
}

.rev_form{
    width: 60%;
    display: flex;
    align-items: center;
}

.yourComent{
    padding: 10px 20px;
    background-color: #0e7c90da;
    border-radius: 12px;

}

.inp_btn{
    padding: 10px 20px;
    background-color: #0e7c90da;
    cursor: pointer;
    color: #FFF2DB;
    border-radius: 12px;
}